<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Select Competencies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }
    </style>
</head>
<body>
<header th:replace="~{../static/fragments/applicantHeader :: header}"></header>

<div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
<div class="container shadow p-3 mb-5 bg-white rounded">
<main class="container mt-5">
    <h2>Select Competencies</h2>
    <hr class="hr hr-blurry">

    <!-- Display success message if it exists -->
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <strong th:text="${successMessage}"></strong>
    </div>

    <form th:action="@{/competence}" method="POST">
        <div class="form-group">
            <label for="competency">Competency:</label>
            <select class="form-control" id="competency" name="name">
                <!-- Populate options dynamically if needed -->
                <option value="ticket sales">Ticket Sales</option>
                <option value="lotteries">Lotteries</option>
                <option value="roller coaster operation">Roller Coaster</option>
            </select>
        </div>
        <div class="form-group">
            <label for="year_experience">Years of Experience:</label>
            <input type="number" class="form-control" id="year_experience" name="year_experience" min="0">
            <label for="month_experience">Months of Experience:</label>
            <input type="number" class="form-control" id="month_experience" name="month_experience" min="0" max="11">
        </div>
        <hr class="hr hr-blurry">
        <div class="d-grid gap-2 d-md-block text-center">
            <button type="submit" class="btn btn-primary">Add Competency</button>
            <a href="/applicant/status">
                <button type="button" class="btn btn-secondary" >My Status</button>
            </a>
            <a href="/availability">
                <button type="button" class="btn btn-primary" >Availability</button>
            </a>
        </div>
    </form>

</main>
</div>
</div>
<footer th:replace="~{../static/fragments/footer :: footer}"></footer>
</body>
</html>
