<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <title>Footer</title>
    <!-- Add your CSS links and other head content here -->
</head>
<body>
<!-- Your main content goes here -->

<footer class="text-center bg-body-shadow-lg bg-dark text-white ">
    <!-- Grid container -->
    <div class="container">
        <!-- Grid row -->
        <div class="row align-items-center">
            <!-- Left column for copyright -->
            <div class="col-md-6 ">
                <div class="text-md-right py-2">
                    <p><small>IV1201 Group 10, Spring 2024</small></p>
                </div>
            </div>
            <!-- Right column for GitHub icon -->
            <div class="col-md-6">
                <div class="text-md-left py-2">
                    <a href="https://github.com/Lillfrallan/IV1201-Project"
                       target="_blank">
                        <button data-mdb-ripple-init type="button"
                            class="btn btn-outline-light btn-rounded btn-dark btn-sm">
                            G i t H u b
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- End of Footer -->
</body>
</html>
